/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Poppins";
}

body {
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 31%,
    rgba(200, 0, 255, 1) 100%
  );
}
